.notification {
    width: 450px;
    margin: 15px auto;
    padding: 18px 22px;

    background-color: white;
    border-left: 5px solid #4a90e2;
    border-radius: 8px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);

    transition: 0.3s;
}

.notification-message {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
}

.notification:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.18);
}